.git
.gitignore
.github

.env
.env.dist
.env.test

vendor
tools/*/vendor

var
logs
.composer

.deptrac.cache
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache

tests
phpunit.xml
phpstan.neon
deptrac.yaml
deptrac.baseline.yaml
codestyle.php
phpcs.xml
tools

clover.xml
junit.xml
xml-coverage
coverage

docker-compose.yml
Makefile
.dockerignore
.k8s

README.md
CONTRIBUTING.md
LICENSE
slim.webp
codecov.yml
.coveralls.yml
.renovaterc.json5

.idea
.vscode
**/.DS_Store
