.idea/
.vscode/
/coverage/
/vendor/
/logs/README.md
!/logs/README.md
.phpunit.result.cache

.idea
.build
.DS_Store
.composer

.env
/var
/vendor

/docker/postgresql-data
/logs/
.deptrac.cache
junit.xml
clover.xml
tests/*.txt
/test/*/*Success__1.json
**/__snapshots__/
